<h2>
	Who is bigger than who?
</h2>

<p>
	Ever wondered if Microsoft is bigger than Google?  Is a beleaguered GM worth more or less than trendy Apple?
	Find it out with <strong>Who is bigger</strong>?</p>

<p>
	Just enter the two stock quotes and a graph will be displayed showing the relative size of every corporation -must be publicly traded- according to its current market cap
</p>