/*
Original design: andreas05 (v2.5 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas05/
*/

/* General tags */
* {margin:0; padding:0;}
body {background:#cccccc url(images/bodybg.gif) repeat; font:76% verdana,tahoma,sans-serif; color:#555555;}
a {background-color:inherit; color:#286ea0; font-weight:bold; text-decoration:none;}
a:hover {text-decoration:underline;}
p {margin:0 0 16px 0;}
ul, ol {margin:0 0 16px 15px; padding-left:5px;}
ul ul, ol ol {margin:3px 0 0 15px;}
img {float:left; margin:0 10px 5px 0;}

/* Headers */
h1 {color:#555; font-size:3.6em; letter-spacing:-3px; margin:0; text-align:right;}
h2 {font-size:1.6em; font-weight:normal; letter-spacing:-1px; margin:5px 0 10px;}

/* IDs */
#title {margin:20px auto -9px; width:700px;}
#container {background:#fff url(front.png) bottom left no-repeat; border:20px solid #555; color:#555; margin:0 auto 15px; padding:10px; width:700px; line-height:1.3em;}
#sidebar {float:left; padding-left:175px; width:110px;}
#sidebar p {margin:10px 0 5px 10px; text-align:left; font-size:0.8em;}
#sidebar p a {font-weight:400;}
#main {float:right; width:385px;}
#footer {clear:both; color:#aaa;}

/* Menu */
.menu {border:1px solid #ffffff; color:#286ea0; display:block; font-size:1.1em; font-weight:bold; padding:4px 2px 4px 10px; width:110px;}
.menu:hover {background-color:#f8f8f8; border:1px solid #cccccc; color:#333333; text-decoration:none;}

/* Various classes */
.credits {color:#777; font-size:0.9em; margin-bottom:0;}
.credits a {color:#777;}

#compare_form ul {
	margin-left: 1px;
}
#compare_form li {
	list-style: none;
	padding: 0;
}

#sidebar {
	padding-left: 2px;
}

#main {
	width: 500px;
}
}